@import "spec/tacular";

@import "html5-boilerplate/normalize";
//@import "html5-boilerplate/main";

label {
  display: block;
}

fieldset {
  label:not(:last-child) {
    margin-bottom: 1em;

  }
}

h1 {
  margin: 0 auto;
  @extend %panel;
}

input {
  border: 1px solid rgb(60, 60, 60);
}

p.error.message {
  margin: 0;
  color: var(--dangerous, red);
}

[data-invalid] {
  border-color: red;
}

p.balanced {
  text-align: center;
}

%greedy {
  width: 100%;
}

.will-create.panel {
  padding-top: 0;
  padding-botom: 0;
  p {
    margin: 0.5rem auto 0 auto;
  }
}

.flexible.preview-options {
  justify-content: flex-end;
  > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.pagetitle.panel, .parent.panel {
  padding-bottom: 0;
}

.oblique {
  font-style: italic;
}

.will-create {
  a {
    color: currentColor;
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

#parent-input {
  @extend %greedy;
}

%clickable {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.panel.classkey {
  text-align: right;
}

li {

}

#template-tree {
  ul {
    list-style-type: none;
  }
}

.flexible {
 display: flex;
 > .greedy {
   flex-grow: 1;
 }
 > .panel {

  &:not(:last-child) {
    padding-right: 0;
  }
 }
 /*> .pagetitle {
   flex-grow: 2;
 }
 > .parent {
   flex-grow: 1;
 }*/
}

.template.panel {
  padding-top: 0;
}

.pagetitle-wrapper.flexible {
  //justify-content: space-around;
  flex-direction: row-reverse;
  .find-parent-by {
    margin-left: auto;
    transform: translateY(-1em);
  }
  #parent-search-wrapper {
    flex-grow: 1;
  }
  > * {
    &:not(:first-child) {
      margin-right: 1rem;
    }
  }
}

fieldset {
  padding: 1rem;
}

#parent-find-by { // fieldset
  //margin-top: 1em;
  padding: 0;
  border: none;
  > div {
    display: flex;
    justify-content: space-around;
  }
  label {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.visually-hidden {
  @extend %visually-hidden;
}

%panel {
  padding: 1rem;
}

.panel {
  @extend %panel;
}

h1 {
  @extend %panel;
}

.template-container {
  label {
    &:not(:only-child) {
      margin-bottom: 1rem;
    }
  }
  .template-chooser {
    [data-template-preview="false"] & {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .template-column {
    //@extend %panel;
    margin-right: 1rem;
    flex-grow: 0;
    [data-template-preview="false"] & {
      flex-grow: 2;
    }
    details {
      &:not(:first-child) {
        margin-top: 1rem;
      }
      [data-template-preview="false"] & {
        margin-top: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
    fieldset {
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
  aside {
    text-align: right;
    [data-template-preview="true"] & {
      flex-grow: 1;
    }
  }
  iframe {
    width: 100%;
    min-height: 50vh;
    display: none;
    border: 1px solid #c0c0c0;
    [data-template-preview="true"] & {
      display: block;
    }
  }
}

label[for="preview-template"] {
  display: inline-block;
}

iframe {

}

summary {
  span {
    color: var(--light-color, rgb(120, 120, 120));
  }
}

#template-tree {
  li {
    > span {
      @extend %clickable;
    }
  }
}

#pagetitle, #weblink {
  @extend %greedy;
}

.classkey {
  margin-left: auto;
  transform: translateY(.5em);
  text-align: right;
}

fieldset.take-me {
  padding: .5rem;
  label {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

button[disabled] {
  color: var(--light-color, rgb(120, 120, 120));
}

footer {
  @extend %panel;
  button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}



:-webkit-full-screen {
  @include absolute-corners;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;
    padding-top: .5rem;
  }
}

:-moz-full-screen {
  @include absolute-corners;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;
    padding-top: .5rem;
  }
}

:-ms-fullscreen {
  @include absolute-corners;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;
    padding-top: .5rem;
  }
}

:full-screen { /*pre-spec */
  @include absolute-corners;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;
    padding-top: .5rem;
  }
}

:fullscreen { /* spec */
  @include absolute-corners;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;

  }
}
