@import "spec/tacular";

@import "html5-boilerplate/normalize";
//@import "html5-boilerplate/main";

* {
  box-sizing: border-box;
}

label {
  display: block;
}

fieldset {
  label:not(:last-child) {
    margin-bottom: 1em;

  }
}

/*
body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  grid-template-columns: 1fr;
  grid-gap: 0;
  grid-template-rows: auto auto;
}
*/

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  //overflow-y: auto;

  > h1:first-child {
    margin-top: 0;
  }
}

body {
  display: grid;
  grid-template-rows: min-content auto;
}

main {
  display: grid;
  //max-height: 100vh;
  grid-template-rows: min-content min-content auto min-content min-content;
  > footer {
    display: flex;
    align-items: flex-end;
    .classkey {
      margin-right: auto;
      align-self: center;
    }
  }
}

.label.panel {
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: auto;
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  > * {
    &:first-child {
      padding-left: 1rem;
    }
  }
}

.flexible.template-container {
  display: grid;
  grid-template-columns: 16rem auto;
  grid-template-rows: auto;
  max-height: min-content;
}

/*
.template.panel {
  display: flex;
  flex-direction: column;
}
*/

/*main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  grid-template-rows: auto auto auto auto auto auto;
}

.template.panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  grid-template-rows: 150px;
}

.template-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  grid-template-rows: 1fr;
}*/

.template-column {
  overflow-y: auto;
  font-size: .875em;
}

.template-column > div {
  //height: 200vh;
  //outline: 1px solid red;
  //background: red;
  padding: 1em;
}

.template-chooser {
  //height: 300vh;
}

h1 {
  margin: 0 auto;
  @extend %panel;
  width: 100%;
}

input {
  border: 1px solid rgb(60, 60, 60);
}

p.error.message {
  margin: 0;
  color: var(--dangerous, red);
}

[data-invalid] {
  border-color: red;
}

p.balanced {
  text-align: center;
}

%greedy {
  width: 100%;
}

.will-create.panel {
  padding-top: 0;
  padding-bottom: 0;
  p {
    margin: 0 auto;
  }
}

.flexible.preview-options {
  justify-content: flex-end;
  padding-right: 1rem;
  > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .left {
    margin-right: auto;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    .template-select-wrapper {
      margin-right: 1rem;
    }
  }
}

.pagetitle.panel, .parent.panel {
  padding-bottom: 0;
}

.oblique {
  font-style: italic;
}

.will-create {
  a {
    color: currentColor;
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}

#parent-input {
  @extend %greedy;
}

%clickable {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.panel.classkey {
  text-align: right;
}

label[for="classkey"] {
  text-align: center;
}

li {

}

#template-tree {
  ul {
    list-style-type: none;
  }
}

.flexible {
 display: flex;
 > .greedy {
   flex-grow: 1;
 }
 > .panel {

  &:not(:last-child) {
    padding-right: 0;
  }
 }
 /*> .pagetitle {
   flex-grow: 2;
 }
 > .parent {
   flex-grow: 1;
 }*/
}

.template.panel {
  padding-top: 0;
}

.pagetitle-wrapper.flexible {
  //justify-content: space-around;
  flex-direction: row-reverse;
  .find-parent-by {
    margin-left: auto;
    transform: translateY(-1em);
  }
  #parent-search-wrapper {
    flex-grow: 1;
  }
  > * {
    &:not(:first-child) {
      margin-right: 1rem;
    }
  }
}

fieldset {
  padding: 1rem;
}

#parent-find-by { // fieldset
  //margin-top: 1em;
  padding: 0;
  border: none;
  > div {
    display: flex;
    justify-content: space-around;
  }
  label {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.visually-hidden {
  @extend %visually-hidden;
}

%panel {
  padding: 1rem;
}

.panel {
  @extend %panel;
}

h1 {
  @extend %panel;
}

.template-container {
  label {
    &:not(:only-child) {
      margin-bottom: 1rem;
    }
  }
  .template-chooser {
    [data-template-preview="false"] & {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .template-column {
    //@extend %panel;
    margin-right: .5rem;
    //flex-grow: 0;
    [data-template-preview="false"] & {
      //flex-grow: 2;
    }
    details {
      &:not(:first-child) {
        margin-top: .5rem;
      }
      [data-template-preview="false"] & {
        margin-top: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }
    fieldset {
      margin-top: .5rem;
      padding: .5rem;
    }
  }
  aside {
    text-align: right;
    [data-template-preview="true"] & {
      //flex-grow: 1;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    display: none;
    border: 1px solid #c0c0c0;
    [data-template-preview="true"] & {
      display: block;
    }
  }
}

label[for="preview-template"] {
  display: inline-block;
}

iframe {

}

summary {
  span {
    color: var(--light-color, rgb(120, 120, 120));
  }
}

#template-tree {
  li {
    > span {
      @extend %clickable;
    }
  }
}

#pagetitle, #weblink {
  @extend %greedy;
}

aside {
  padding-right: 1rem;
}

.classkey {
  margin-left: auto;
  transform: translateY(.5em);
  text-align: right;
}

fieldset.take-me {
  padding: .5rem;
  label {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

button[disabled] {
  color: var(--light-color, rgb(120, 120, 120));
}

footer {
  @extend %panel;
  button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

#stage {
  display: grid;
  grid-template-rows: min-content auto;
}

#rpm {
  display: none;


}



@mixin aside-fullscreen() {
  @include absolute-corners;
  width: 100vw;
  height: 100vh;
  label[for="preview-template"] {
    display: none;
  }
  label[for="fullscreen-preview"] {
    padding: .5rem .5rem 0 0;
  }
  #stage {
    @include absolute-corners;
    padding-top: .5rem;
  }
  .label.panel {
    grid-template-columns: max-content auto;
    label[for="template"] {
      margin-right: 1em;
    }
  }
  aside {
    width: 100vw;
    padding: 0;
  }
  .template-column {
    display: none;
  }
  label[for="toggle-column"] {
    display: none;
  }
  .template-select-wrapper {
    display: inline-block !important;
  }
  #rpm {
    display: flex;
    align-items: center;
    margin-right: auto;
    > * {
      &:not([hidden]) {
        display: flex;
        align-items: center;
      }
    }
    fieldset {
      padding: 0 .5rem;
      border: none;
      label {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }
  .flexible.preview-options .left {
    flex-grow: 0;
  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    &[data-preview-as="mobile"] {
      iframe {
        width: 320px;
        height: 480px;
      }
      &[data-orientation="landscape"] {
        iframe {
          width: 480px;
          height: 320px;
        }
      }
    }
    &[data-preview-as="tablet"] {
      iframe {
        width: 768px;
        height: 1024px;
      }
      &[data-orientation="landscape"] {
        iframe {
          width: 1024px;
          height: 768px;
        }
      }
    }
  }
}



:-webkit-full-screen {
  @include aside-fullscreen;
}

:-moz-full-screen {
  @include aside-fullscreen;
}

:-ms-fullscreen {
  @include aside-fullscreen;
}

:full-screen { /*pre-spec */
  @include aside-fullscreen;
}

:fullscreen { /* spec */
  @include aside-fullscreen;
}

label[for="fullscreen-preview"] {
  [data-template-preview="false"] & {
    display: none;
  }
}
